aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
gTTS
pyrogram==2.0.106
python-dotenv
pyyaml
requests
numpy
enums
telegraph
speedtest-cli
spotipy
tgcrypto
unidecode
motor==3.0.0
telegraph
pytz
googletrans
pyromod~=1.5
googletrans
dnspython
youtube-search
youtube-search-python
yt-dlp
youtube-search
youtube-search-python
git+https://github.com/yt-dlp/yt-dlp@master
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master

